html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    flex-direction: column;
    overflow: scroll
}

#top-head {
  width: 100%;
  height: 50px;
  background: #fff;
  opacity: 0.9;
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
}
#top-head .inner {
  float: left;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*logo style*/
.inner h1 a {
  color: #20b2aa;
  text-decoration: none;
  font-weight: bold;
}
/*nav style*/
#top-head nav ul {
  display: flex;
  list-style-type: none;
}
/*nav link style*/
#top-head nav ul li a {
  text-decoration: none;
  padding: 16px;
  color: #404040;
}
#top-head nav ul li a:hover {
  color: #20b2aa;
}
#nav_toggle {
  display: none;
}

/*============================
mobile style
============================*/
@media screen and (max-width:680px) {
/*hamburger menu style*/
  #nav_toggle {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    z-index: 100;
  }
  #nav_toggle div {
    position: relative;
  }
/*hamburger menu close style*/
  #nav_toggle span {
    display: block;
    height: 2px;
    background: #404040;
    position:absolute;
    width: 100%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #nav_toggle span:nth-child(1) {
    top:0px;
  }
  #nav_toggle span:nth-child(2) {
    top:10px;
  }
  #nav_toggle span:nth-child(3) {
    top:20px;
  }
/*hamburger menu open style*/
  .open #nav_toggle span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav_toggle span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
/*nav style*/
  #top-head nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 1040px;
    background: #fff;
    z-index: 999;
  }
  #top-head nav ul {
    display: block;
    width: 80%;
  }
  #top-head nav ul li {
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
  }
  #top-head nav ul li:last-child {
    border: none;
  }
/*nav link style*/
  #top-head nav ul li a {
    display: block;
  }
}

main{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
.main_object {
    max-width: 900px;
    margin:  0 auto;
    margin-top: 100px;
    padding-top: 20px;
    min-height: calc(100vh - 423px);
}
footer{
    color: #808080;
    background-color: #f6f6f6;
    grid-area: footer;
    text-align: center;
    padding: 30px 0;
    width:100%;
  
    bottom: 0; /*下に固定*/
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
.menu li {
  margin: 0;
  padding: 0 20px;
 }
.copyright {
  margin: 0;
  padding: 20px 0 0 0;
 }

*, ::after, ::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ft-1 {
    margin-bottom: 1rem!important;
}
.text-center {
    text-align: center!important;
}
.text-right {
    display:flex;
    text-align: right!important;
    justify-content: flex-end!important;
    
}
.white-btn {
    color: #4b4b4b;
}
.red-btn {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #ed5c5c;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 15px;
  margin: 0 5px;
}
input[type="submit"]{
    border: none;
    border-radius:5px;
    color: white;
    font-size:15px;
    font-weight:bold;
    cursor: pointer;
    padding: 8px 15px;
    margin: 0 5px;
  }
.alert{
    color: #ed5c5c;
    font-weight: bold;
  }